.tag-bloqueada{
    background-color: #ef4444!important;
    text-align: center;
    border-radius: 3px;
}

.tag-liberada{
    background-color: #bef264!important;
    text-align: center;
    border-radius: 3px;
}

.tag-ocupada{
    background-color: #facc15!important;
    text-align: center;
    border-radius: 3px;
}
