.tag-status-fila-preparo {
    background-color: #FFD700!important;
    text-align: center;
    border-radius: 3px;
}

.tag-status-em-preparo {
    background-color: #86efac!important;
    text-align: center;
    border-radius: 3px;
}

.tag-status-fila-entrega {
    background-color: #38bdf8!important;
    text-align: center;
    border-radius: 3px;
}

.tag-status-finalizado {
    background-color: #a3e635!important;
    text-align: center;
    border-radius: 3px;
}

.tag-status-cancelado {
    background-color: #ef4444!important;
    text-align: center;
    border-radius: 3px;
}

.update-order-column {
    font-size: 29px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.update-order-column svg{
    margin: 1px 10px;
}