.background-items-comanda {
    background-color: red;
    max-height: 400px;
}

.item-desc-grid {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}