.caixa-central {
    width: 100%;
    display: inline-block;
}

.caixa-comandas {
    background-color: #3d3d3d;
    width: 50%;
    height: 97.5vh;
    border-radius: 10px;
    padding: 20px 0px;
}

.caixa-pedido {
    background-color: yellow;
    width: 50%;
}